<div class="container">
    <div class="roadmap-section">
      <h1>Part 1: </h1>
      <ul class="list-group">
        <li class="list-group-item">backend
          <ul class="list-group">
            <li class="list-group-item">login cookie created</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">RDS created</li>
            <li class="list-group-item">ECR created</li>
            <li class="list-group-item">ECS task created</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>
        <li class="list-group-item">frontend
          <ul class="list-group">
            <li class="list-group-item">login page created </li>
            <li class="list-group-item">sign-up page created</li>
            <li class="list-group-item">home page created</li>
            <li class="list-group-item">ECS task created</li>
          </ul>
        </li>
        <li class="list-group-item">software
          <ul class="list-group">
            <li class="list-group-item">docker file created</li>
            <li class="list-group-item">github created</li>
            <li class="list-group-item">AWS account created</li>
            <li class="list-group-item">RDS Postgres database created</li>
            <li class="list-group-item">ECR created</li>
            <li class="list-group-item">ECS task created</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>

          Connect AWS

      </ul>
    </div>
    <div class="roadmap-section">
      <h1>Part 2: </h1>
      <ul class="list-group">
        <li class="list-group-item">backend
          <ul class="list-group">
            <li class="list-group-item">admin created</li>
            <li class="list-group-item">RDS created</li>
            <li class="list-group-item">ECR created</li>
            <li class="list-group-item">ECS task created</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>
        <li class="list-group-item">frontend
          <ul class="list-group">
            <li class="list-group-item">admin page created </li>
            <li class="list-group-item">created reference created</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">ECS task created</li>
          </ul>
        </li>
        <li class="list-group-item">software
          <ul class="list-group">
            <li class="list-group-item">setup HTTPS</li>
            <li class="list-group-item">AWS account created</li>
            <li class="list-group-item">RDS Postgres database created</li>
            <li class="list-group-item">ECR created</li>
            <li class="list-group-item">ECS task created</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>

          Connect AWS

      </ul>
    </div>
    <div class="roadmap-section">
      <h1>Part 3: </h1>
      <ul class="list-group">
        <li class="list-group-item">backend
          <ul class="list-group">
            <li class="list-group-item">admin created</li>
            <li class="list-group-item">RDS created</li>
            <li class="list-group-item">ECR created</li>
            <li class="list-group-item">ECS task created</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>
        <li class="list-group-item">frontend
          <ul class="list-group">
            <li class="list-group-item">admin clean up </li>
            <li class="list-group-item">home page clean up</li>
            <li class="list-group-item">ECS task created</li>
          </ul>
        </li>
        <li class="list-group-item">software
        </li>
      </ul>
    </div>
    <div class="roadmap-section">
      <h1>Part 3: to be detmined </h1>
      <ul class="list-group">
        <li class="list-group-item">backend
          <ul class="list-group">
            <li class="list-group-item">more secuirity checking </li>
            <li class="list-group-item">orginazed files</li>
            <li class="list-group-item">make tesrt cases</li>
            <li class="list-group-item">improve routes names</li>
            <li class="list-group-item">Route53 created</li>
          </ul>
        </li>
        <li class="list-group-item">frontend
          <ul class="list-group">
            <li class="list-group-item">admin clean up </li>
            <li class="list-group-item">home page clean up</li>
            <li class="list-group-item">ECS task created</li>
          </ul>
        </li>
        <li class="list-group-item">software
        </li>
      </ul>
    </div>

  </div>
 