li{
    color:   #acacac;
}
p{
    color: aliceblue;
}
h1{
    color:yellow;
}
h3{
    color:   #69e7a6;
}
h6{
    color: aliceblue;
    font-size: 12px;
    
}
#spacer{
    background-color: #6a6c6e;
    height: 1px;
    width: 100%;
}