<div class="row">
    <!-- First div taking half the screen -->
    <div class="col-md-6">
      <!-- Content for the first div goes here -->
    </div>
  
    <!-- Second div taking half the screen -->
    <div class="col-md-6">
      <div *ngFor="let user of users">
        <h5 >{{didUpdate}}</h5>
        <div class="card flex-row">
          
          <div class="card-body">
            <p class="card-text">{{user.client_id}}</p>
            <p class="card-text">{{user.first_name}}</p>
            <p class="card-text">{{user.last_name}}</p>
            <p class="card-text">{{user.email}}</p>
            <p class="card-text">{{user.admin_privilege}}</p>
          </div>
          <div class="card-footer text-right" (click)="deleteUserButton(user.client_id)">
            <button type="button" class="btn primary">Delete</button>
          </div>
          <div class="card-footer text-right" (click)="referencePermissionButton(user.client_id)">
            <button type="button" class="btn btn-danger">make reference</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  