<div class="container-fuild bg-img w-100">
  <div class="row justify-content-center">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" routerLink="/home">Rustume</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home/roadmap">Roadmap</a>
          </li>
          <li *ngIf="canWriteRef" class="nav-item">
            <a class="nav-link" routerLink="/home/reference">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Chat Room</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row justify-content-center">
    <h1>Jordan Garske</h1>
    
  </div>
  <div class="row justify-content-center">
    <h4>21 / fargo - north dakota / computer science</h4>
  </div>
</div>

<router-outlet></router-outlet>
