*{
    color: rgb(8, 8, 8);
}
.bg-img {
    /* The image used */
    background-image: url("../../assets/mount.avifa");
  
    min-height: 380px;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100;
    /* Needed to position the navbar */
    position: relative;
  }
  .cool{
    border: 10px red;
  }
