<div id="spacer"></div>
<div>
    <h1>work history</h1>
    <h4>PRODUCT MANAGMMENT APPLICATION CO-OP, FARGO ND</h4>
    <p>From 01/2023 to 12/2023</p>
  </div>

<h1>Projects</h1>
<div class="container-fluid">
    <div class="row">
      <div class="col mr-2">
        <div>
          <h3>Tech Support for Chuch: 2022 - Present</h3>
          <p>
            Played a key role in building and setting up computer systems, offering expertise in networking, introducing new software, and providing support for WordPress-related queries.
          </p>
        </div>
      </div>
      <div class="col">
        <div>
          <h3>Rustume: 2023 - Present</h3>
          <p>
            Launched and currently maintain a personal resume website hosted on AWS. Utilized Rust Rocket and Diesel for backend development, and Angular with SCSS for the frontend. Developed on a Linux environment using Docker for seamless deployment.
          </p>
        </div>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col mr-2">
        <div>
          <h3>Sig Compete: 2024 - Present</h3>
          <p>
            Currently leading the Sig Compete team, focusing on educating members on algorithms, data structures, problem-solving strategies, and cultivating a deeper understanding of mathematical concepts. Providing guidance for competition problem-solving.
          </p>
        </div>
      </div>
      <div class="col">
        <div>
          <h3>313 Project: 2023</h3>
          <p>
            Collaborated in a team of four for a class project during CS 313, following the Scrum lifecycle. Tasked with creating a Scrum management tool using Django and Angular. Leveraged CORS and other tools to enhance communication between the frontend and backend, gaining valuable insights into the capabilities of both frameworks.
          </p>
        </div>
      </div>
    </div>
  </div>
  
