<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Sign Up</h5>
        </div>
        <div *ngIf="isSignUp == false"class="card-body">
          <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input class="form-control" id="firstName" placeholder="First Name" name="firstName" [(ngModel)]="userData.first_name" required>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input class="form-control" id="lastName" placeholder="Last Name" name="lastName" [(ngModel)]="userData.last_name" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="userData.client_password" type="password" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="userData.email" type="email" required>
            </div>
            <div class="mb-3">
              <label for="phone_number" class="form-label">phone number</label>
              <input class="form-control" id="firstName" placeholder="(XXX) XXX-XXXX" name="firstName" [(ngModel)]="userData.phone_number" required>
            </div>
            <div class="mb-3">
              <label for="profession" class="form-label">Job title</label>
              <input class="form-control" id="firstName" placeholder="Job title" name="firstName" [(ngModel)]="userData.profession" required>
            </div>
            <div class="mb-3">
              <label for="company" class="form-label">company</label>
              <input class="form-control" id="firstName" placeholder="company" name="firstName" [(ngModel)]="userData.company" required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>
          </form>
        </div>
        <div *ngIf="isSignUp == true"class="card-body">
          you are sign-up, now login  
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" (click)="signup()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
