<div id="spacer"></div>
<h1>References</h1>

<div *ngFor="let ref of leftReferences; let i = index" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card flex-row h-100 color">
        <div class="card-body">
          <p class="card-text">{{ref.first_name}}</p>
          <p class="card-text">{{ref.last_name}}</p>
          <p class="card-text">{{ref.elucidation}}</p>
        </div>
      </div>
    </div>
    
    <!-- Ensure there's a matching right reference before attempting to display -->
    <div *ngIf="rightReferences[i]" class="col-md-6">
      <div class="card flex-row h-100 color">
        <div class="card-body ">
          <p class="card-text">{{rightReferences[i].first_name}}</p>
          <p class="card-text">{{rightReferences[i].last_name}}</p>
          <p class="card-text">{{rightReferences[i].elucidation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
